.list-dates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__item {
        padding: 20px 20px 15px;
        margin: 20px;
        width: 200px;
        border-radius: 8px;
        background-color: @color-white;
        box-shadow: 0 2px rgba(0,0,0,.2);
        -webkit-transition: all 250ms;

        &:hover {
            cursor: pointer;
            -webkit-transform: scale(1.05);
        }
    }

    &__date {
        text-align: center;
        border-radius: 6px;
        overflow: hidden;
    }

    &__month {
        font-size: .875em;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        // background-color: #ef5353;
        // background-color: #bb2253;
        // background-color: #57385c;
        background-color: #eb586f;
        color: @color-white;
        position: relative;
        box-shadow: 0 2px rgba(0,0,0,.2);
    }

    &__day {
        font: 700 5em/14rem serif;
        background-color: #dfebed;
        color: #497285;
    }

    &__info {
        display: flex;
        margin-top: 10px;
        font-size: .75em;
        font-weight: 400;
    }

    &__events {
        flex: 1;
    }
}
