.list-events {
    padding: 15px;
    background-color: @color-white;
    box-shadow: 0 3px rgba(0,0,0,.2);

    &__event {
        display: flex;
        line-height: 40px;
        padding: 0 15px;

        &:nth-child(odd) {
            background-color: @color-gray-light;
        }
    }
    &__data {
        flex: 1;
    }
    &__remove {
        text-decoration: underline;

        &:hover {
            cursor: pointer;
        }
    }
}
